html{
    min-height: 100%;
}
body{
    background-color: black;
    min-height: 100%;
}
nav{
    background-color:#3587A4;
    justify-content: center;

}
.navbar-nav a{
    color:white;
    font-family: "Courier Prime", monospace;
}
.navbar-brand strong{
    color: white;
    font-size: small;
}
footer{
    padding: 25px;
    background-color: #88CCF1;
    height: max-content;
    width: 100%;
   /* position: absolute;
    bottom: 0;*/

}
h5{
    font-family: "Courier Prime", monospace;
    font-size: 32px;
}

div a{
    padding: 25px;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    display: flex; 
    justify-content:center;    
}
a:hover {
    transform: scale(1)rotate(3deg);
    transition: 0.5s;
}
.card h5:hover{
    color: rgb(165, 67, 190);
    transition: 0.3s;
}